
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThankYou</title>
</head>
<body>
    <div> 
        <p>Thank You</p>
        <p>we will contact you in 2 weeks with your calculations</p>
        <div>
            @Html.ActionLink("Fill Form", "Index");
        </div>

    </div>
</body>
</html>
